$lightGrayColor: #888;
$darkGrayColor: #555;
$redColor: #F00;
$whiteColor: #FFF;
$blueColor: #00F;

.rsc-container {
  width: 800px;
  height: 570px;
  border: 1px solid $lightGrayColor;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
}

.rsc-error {
  color: $redColor;
}

.rsc-info {
  color: $blueColor;
}

.rsc-indicator {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.rsc-line-number {
  color: $darkGrayColor;
  font-size: 14px;
}

.rsc-computer-font {
  font-family: Courier;
}

.rsc-error-list {
  color: $redColor;
  margin-left: 30px;
  font-family: Helvetica;
  margin-top: 20px;
  width: 375px;
  overflow-y: scroll;
  height: 100px;
}

.rsc-keyboard-image {
  width: 200px;
  height: 100px;
  background: url('images/keyboard.png') no-repeat;
}

.rsc-monitor-image {
  width: 200px;
  height: 150px;
  background: url('images/monitor.png') no-repeat;
}

input[type='text'].rsc-input-field {
  height: 25px;
  font-size: 15px;
  color: $lightGrayColor;
  outline: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

.rsc-button {
  height: 32px;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  border: 1px solid $lightGrayColor;
  color: lighten($darkGrayColor, 15%);
  background-color: $whiteColor;
  text-align: center;
  font-family: Helvetica;
  outline: none;

  // firefox-specific
  @-moz-document url-prefix() {
    padding-top: 4px;
  }

  &:hover {
    border-color: darken($lightGrayColor, 30%);
    color: $darkGrayColor;
  }

  &:active {
    background-color: darken($whiteColor, 10%);
  }

  &[disabled] {
    border-color: lighten($lightGrayColor, 30%);
    color: lighten($darkGrayColor, 40%);
  }
}

@import 'command_list';
@import 'peripherals';
@import 'controls';
