.rsc-command-list-container {
  overflow: hidden;
  float: left;
}

.rsc-command-list {
  h4 {
    margin-left: 33px;
  }

  .rsc-commands-container {
    overflow: hidden;
  }

  .rsc-command-list-column {
    float: left;
  }
}

.rsc-command-list-item {
  overflow: hidden;
  margin-right: 20px;

  .rsc-indicator {
    visibility: hidden;
    text-align: right;
    float: left;
  }

  &.error {
    .rsc-indicator {
      &:before { content: '×'; }
      visibility: visible;
      color: $redColor;
    }
  }

  &.info {
    .rsc-indicator {
      &:before { content: '\02190'; }  // left arrow
      visibility: visible;
      color: $blueColor;
    }
  }

  .rsc-line-number {
    float: left;
    width: 25px;
    margin: 3px 8px 0 0;
    text-align: right;
  }

  input[type='text'].rsc-input-field {
    width: 75px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-top: 1px solid #AAA;
    float: left;
  }

  &.error input[type='text'] {
    border-color: $redColor;
  }

  &.info input[type='text'] {
    border-color: $blueColor;
  }

  &:last-child input[type='text'] {
    border-bottom: 1px solid $lightGrayColor;
  }

  &:last-child.error input[type='text'] {
    border-bottom: 1px solid $redColor;
  }

  &:last-child.info input[type='text'] {
    border-bottom: 1px solid $blueColor;
  }
}
