.rsc-peripherals-container {
  float: left;
}

.rsc-peripherals {
  width: 200px;

  h4 {
    margin-left: 10px;
    margin-bottom: 13px;
  }

  .rsc-peripheral-accumulator {
    border: 1px solid $lightGrayColor;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 22px;
    border-radius: 5px;
    font-size: 13px;
  }

  .rsc-peripheral-monitor {
    .rsc-monitor-output-field {
      width: 100%;
      text-align: center;
      padding-top: 38px;
      font-size: 30px;
    }
  }

  .rsc-peripheral-keyboard {
    &.info {
      .rsc-input-field {
        border: 2px solid $blueColor;
      }
    }

    .rsc-error {
      margin-top: 10px;
    }

    .rsc-input-field {
      border: 1px solid $lightGrayColor;
      margin-left: 5px;
      margin-top: 10px;
    }
  }
}
